<?xml version="1.0" encoding="utf-8" ?>
<!--

       Copyright ${license.git.copyrightYears} the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.yangcx.mapper.DemoMapper">

  <select id="selectAll" parameterType="map" resultType="map">
    select *
    from person
    where id = #{id}
  </select>

  <select id="findWith$" parameterType="map" resultType="java.util.Map">
    select *
    from person
    where name = ${name}
  </select>

  <resultMap id="person" type="Person">
    <constructor>
      <idArg name="id" javaType="java.lang.Long" column="id" jdbcType="BIGINT"/>
      <arg name="name" javaType="java.lang.String" column="name" jdbcType="VARCHAR"/>
    </constructor>
  </resultMap>

</mapper>
